.fisrt_box {
  position: absolute;
  width: 571px;
  height: 1117px;
  left: 578px;
  top: 0px;
  
  background-color: transparent;
  
}

.second_box {
  position: absolute;
  width: 571px;
  height: 523px;
  left: 578px;
  top: 230px;

  background: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.main_box {
  position: absolute;
  width: 571px;
  height: 523px;
  background: #FFFFFF;
  border-radius: 43px;
}

.top_box {
  position: absolute;
  width: 571px;
  height: 162px;

  background: rgba(255, 255, 255, 0.1);
  background-color: transparent;
}

.logo {
  width: 228px;
  height: 94px;
  margin-top: 37px;
  margin-left: 172px;
}

.middle_box {
  position: absolute;
  width: 574px;
  height: 322px;
  margin-top: 168px;
}

input {
  box-sizing: border-box;

  position: absolute;
  width: 479px;
  height: 58px;

  background: #F4F4F4;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  outline: none;
}

.user_id {
  margin-left: 46px;
}

.user_pw {
  margin-left: 46px;
  margin-top: 89px;
}

.bottom_box {
  position: absolute;
  width: 574px;
  height: 209px;
  top: 314px;

  background: rgba(255, 255, 255, 0.1);
  background-color: transparent;
  
}

.sign_in_btn {
  position: absolute;
  width: 479px; 
  height: 58px;
  left: 46px;
  top: 82px;;

  background: #FFE99C;
  border-radius: 10px;
  border-color: #FFE99C;

  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #7B7A8E;
}
  body {
    width: 1728px;
    height: 1117px;
    margin: 0px;
  }
  .backgroundImg {
    width: 100%;
    height: 100%;
    background-image: url('../img/signIn.png');
    display:block
  } 
  