#body {
    width: 1728;
    height: 1117c\;
}
#willDoBox {
    position: absolute;
    width: 452px;
    height: 547px;
    left: 76px;
    top: 314px;

    background: #FFE99C;
    border-radius: 17px;
}
    #willDoTextBox{
        position: absolute;
        width: 381px;
        height: 390px;
        left: 111px;
        top: 431px;

        background: #E9E9E9;
        border-radius: 17px;
    }
    #willDoTextBoxTitle{
        position: absolute;
        width: 160px;
        height: 58px;
        left: 111px;
        top: 320px;

        font-family: 'Inter';
        font-style: italic;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        /* identical to box height */


        color: #7B7A8E;


    }
    #willDoCountingBox {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 119px;
        top: 440px;
        border-radius: 50%;

        background: #FFFFFF;

    }
    #willDoPlanBox{
        position: absolute;
        width: 300px;
        height: 32px;
        left: 153px;
        top: 445px;


        background: #FFFFFF;
        border-radius: 10px;
    }
    #willDoBtn{
        position: absolute;
        width: 25px;
        height: 25px;
        left: 462px;
        top: 452px;

        background: #FFFFFF;
        border-radius: 5px;

    }
    #willDoPlanscroll{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 153px;
        top: 490px;
        overflow: auto

    }



#doingBox {
    position: absolute;
    width: 452px;
    height: 547px;
    left: 638px;
    top: 313px;

    background: #FFE99C;
    border-radius: 14px;
}
#doingTextBox{
    position: absolute;
    width: 381px;
    height: 390px;
    left: 673px;
    top: 431px;

    background: #E9E9E9;
    border-radius: 17px;
}
#doingTextBoxTitle{
    position: absolute;
    width: 134px;
    height: 58px;
    left: 673px;
    top: 320px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;


    color: #7B7A8E;

}
#doingCountingBox {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 681px;
    top: 440px;
    border-radius: 50%;

        background: #FFFFFF;

}
#doingCountNmb{
    position: absolute;
    width: 9px;
    height: 15px;
    left: 689px;
    top: 445px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 12px;
    line-height: 15px;
    


    color: #000000;



}
#doingPlanBox{
    position: absolute;
    width: 300px;
    height: 32px;
    left: 715px;
    top: 445px;

    background: #FFFFFF;
    border-radius: 10px;}
    #doingBtn {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 1024px;
        top: 452px;

        background: #ffffff;
        border-radius: 5px;
    }
    #doingPlanscroll{
        position: absolute;
        width: 300px;
        height: 300px;
        left: 715px;
        top: 490px;
        overflow: auto
    }

#doneBox{
    position: absolute;
    width: 452px;
    height: 547px;
    left: 1200px;
    top: 314px;

    background: #FFE99C;
    border-radius: 29px;
}
    #doneTextBox {
        position: absolute;
        width: 381px;
        height: 390px;
        left: 1235px;
        top: 431px;

        background: #e9e9e9;
        border-radius: 17px;
    }
            #doneBoxTitle{
                position: absolute;
                width: 119px;
                height: 58px;
                left: 1235px;
                top: 320px;

                font-family: 'Inter';
                font-style: italic;
                font-weight: 700;
                font-size: 48px;
                line-height: 58px;


                color: #7B7A8E;
            }
            #doneCountingBox {
                position: absolute;
                width: 25px;
                height: 25px;
                left: 1243px;
                top: 440px;
                border-radius: 50%;

                background: #ffffff;

            }
            #donePlanBox {
                position: absolute;
                width: 300px;
                height: 32px;
                left: 1277px;
                top: 445px;

                background: #FFFFFF;
                border-radius: 10px;

            }
            #donePlanscroll {
                position: absolute;
                width: 300px;
                height: 300px;
                left: 1277px;
                top: 489px;

            }
            #doneBtn{
                position: absolute;
                width: 25px;
                height: 25px;
                left: 1586px;
                top: 452px;

                background: #ffffff;
                border-radius: 5px;
                
            }
            body {
                width: 1728px;
                height: 1117px;
                margin: 0px;
              }
              #backgroundImg {
                width: 100%;
                height: 100%;
                background-image: url('../img/signIn.png');
                display:block
              }          